table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
}

table tr:nth-child(even) {
    background-color: #DADFE0;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: black;
}