<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color test</title>

    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 50px;
}

<!--tr:nth-child(even) {-->
    <!--background-color: #dddddd;-->
<!--}-->

    </style>
</head>
<body style="background-color: #000">

<table>

    <thead>
    <tr>
        <th style="background-color: #120036">State</th>
    </tr>
    </thead>

    <tbody>
    <tr style="background-color: #D8DBD0">
        <td>Need more data</td>
    </tr>
    <tr style="background-color: #7F8D7E">
        <td>Ready</td>
    </tr>
    <tr style="background-color: #82C0BB">
        <td>Processing</td>
    </tr>
    <tr style="background-color: #32A666">
        <td>Processing OK</td>
    </tr>
    <tr style="background-color: #E00003">
        <td>Processing failed</td>
    </tr>
    <tr style="background-color: #056774">
        <td>DQM upload OK</td>
    </tr>
    <tr style="background-color: #AA3939">
        <td>DQM upload failed</td>
    </tr>
    <tr style="background-color: #983352">
        <td>Dropbox upload failed</td>
    </tr>
    <tr style="background-color: #12365A">
        <td>Uploads OK</td>
    </tr>
    </tbody>
</table>
</body>
</html>