<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color test</title>

    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 40px;
}

<!--tr:nth-child(even) {-->
    <!--background-color: #dddddd;-->
<!--}-->



    </style>
</head>
<body style="background-color: #FFF">

<table>

    <thead>
    <tr>
        <th>State</th>
        <th>Some more data</th>
    </tr>
    </thead>

    <tbody>
    <tr style="background-color: #C9CAD9">
        <td>Need more data</td>
        <td>324848</td>
    </tr>
    <tr style="background-color: #D1D2F9">
        <td>Ready</td>
        <td>324234</td>
    </tr>
    <tr style="background-color: #8299AD">
        <td>Processing</td>
        <td>3459834</td>
    </tr>
    <tr style="background-color: #416165">
        <td>Processing OK</td>
        <td>598347</td>
    </tr>
    <tr style="background-color: #EE6055">
        <td>Processing failed</td>
        <td>4359709</td>
    </tr>
    <tr style="background-color: #F18F01">
        <td>DQM upload failed</td>
        <td>5435543</td>
    </tr>
    <tr style="background-color: #F7CB15">
        <td>Dropbox upload failed</td>
        <td>435345</td>
    </tr>
    <tr style="background-color: #A0D789">
        <td>DQM upload OK</td>
        <td>3242355</td>
    </tr>
    <tr style="background-color: #B2DE4F">
        <td>Uploads OK</td>
        <td>565456</td>
    </tr>
    </tbody>
</table>
</body>
</html>