<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multirun Harvesting Overview</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- JS -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/ui-bootstrap-tpls-2.2.0.js"></script>
    <script src="/static/js/index.js"></script>

</head>


<body class="mhbody" ng-app="multirunApp" ng-controller="multirunController as mh">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Multi-run Harvesting Overview</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="switchView()">
                    <a href="#">
                    <span ng-show="splitByWorkflows === true">
                        Do not split
                    </span>
                    <span ng-show="splitByWorkflows === false">
                        Split by workflows
                    </span>
                    </a>
                </li>
                <li><a href="#about">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="true">Legend <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(state, color) in stateColors" style="background-color: {{ color }}">
                            <a href="#">{{ state }}</a>
                        </li>
                    </ul>
                </li>
                <li id="searchli">
                    <form class="navbar-form navbar-left" id="searchnavbar">
                        <div class="form-group">
                            <input type="text" id="mrunsearchform" class="form-control" placeholder="Filter"
                                   ng-model="mh.filterMultiruns">
                        </div>
                    </form>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container tabcontainer">

    <span ng-if="splitByWorkflows == true">
        <span ng-init="getMultirunsByWorkflow()"></span>

        <div class="multiruntab" ng-repeat="(workflow, multiruns) in multirunsByWorkflow">

            <h2>{{ workflow }}</h2>
            <div ng-include="'/static/templates/mtable.html'"></div>

        </div>
    </span>

    <span ng-if="splitByWorkflows == false">
        <span ng-init="getMultiruns()"></span>

        <div class="multiruntab" ng-include="'/static/templates/mtable.html'"></div>
    </span>

    <div class="centered">
        <ul uib-pagination
            total-items="mh.totalItems" ng-model="mh.currentPage"
            ng-change="mh.pageChanged()" items-per-page="mh.itemsPerPage"
            boundary-links="true" rotate="true" force-ellipses="true"
            max-size="9" previous-text="&lsaquo;" next-text="&rsaquo;"
            first-text="&laquo;" last-text="&raquo;"
            boundary-link-numbers="true">
        </ul>
    </div>

</div>
</body>
</html>