.mhbody {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #f5f5f5;
    /*
    background-color: #111;
    background-color: #fbfbfb;
    background-color: #191919;
    background-color: #000;
    */
}

.tabcontainer {
    margin-top: 60px;
}

.multiruntab {
    display: flex;
    flex-direction: column;
    overflow-x:auto
}

.textbold {
    font-weight: bold
}

.centered {
    display: flex;
    justify-content: center;
}

.cleantd {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#mrunsearchform {
    height: 30px;
    width: 250px;
    background-color: #f5f5f5;
    border-radius: 0;
}

#searchnavbar {
    align-self: center;
}

#thvert1, #thvert2 {
    vertical-align: middle;
}

input[type=text] {
    height: 40px;
}