.multiruntab {
    display: flex;
    flex-direction: column;
}

.opaque {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

li{
    display: flex;
    flex-direction: row;
    flex: 8;
}

input[type=checkbox]{
    margin-right: 5;
    margin-left: 0;
    height: 15px;
    width: 15px;
    flex: 1;
}

.cleantd {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}