.mhbody {
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #f5f5f5;
    /*
    background-color: #111;
    background-color: #fbfbfb;
    background-color: #191919;
    background-color: #000;
    */
}

.tabcontainer {
    margin-top: 60px;
}

.multiruntab {
    display: flex;
    flex-direction: column;
    overflow-x:auto
}

.textbold {
    font-weight: bold
}

.centeredPag {
    display: flex;
    justify-content: center;
    height: 40px;
}

.about {
    font-size: 16px;
}

.centeredImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutItem {
    display: flex;
}

.cleantd {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.timetext {
    font-weight: 500;
}

.itemsFormDiv {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.itemsPerPageForm {
    width: 40px;
    height: 25px;
    margin-left: 5px;
    text-align: center;
    border-width: 2px solid;
}

#mrunsearchform {
    height: 30px;
    width: 250px;
    background-color: #f5f5f5;
    border-radius: 0;
}

#searchli {
    display: flex;
    height: 50px;
}

#searchnavbar {
    align-self: center;
}

#thvert1, #thvert2 {
    vertical-align: middle;
}