<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CondDB - Web Service Template </title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <br/>MyService<br/>
        <h3>    CondDBTemplate - a generic API for the CMS conditions web</h3>

        <h>
            I am myService, I am listening on 9999, with production level "private", my root directory is   /afs/cern.ch/user/m/mojedasa/scratch0/services/myService and my biggest secret is that the sky is blue!!
        </h>
        
    <hr />
    <p><font size="-1"><em>last update: {{lastUpdate}} - running version {{gitInfo}}</em></font></p>
    </body>
</html>
